.ml-2 {
  margin-left: 2rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-2 {
  margin-top: 2rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
